<!DOCTYPE html>
<html lang="vi">

<head>
	<title>PLC</title>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="./image/65367889_972633203119718_6062011348034781184_n.png">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="style_DATN.css" rel="stylesheet" type="text/css" />

</head>

<body>
	<div id="main">
		<div id="head_logo">
			<img src="./image/SPKT.jpg" class="center"/>
		</div>

		<div id="head-link">
			<ul>
				<li><a href="/">HOME</a></li>
				<li><a href="/detail">DETAIL</a></li>
				<li><a href="/control">CONTROL</a></li>
				<li><a href="#" style="color:black">ABOUT</a></li>
			</ul>
		</div>

		<div id="help-home">
			<div class="help-content-1">
				<h3 style="text-align:left; color:red;font-weight: bold;">Tổng quan đề tài </h3>
				<p class="help-text"> Điều khiển và giám sát mô hình phân loại sản phẩm qua Webserver, LabVIEW</p>
				<p class="help-text">Trang web có 4 phần</p>
				<p class="help-text">+ Home: Trang chủ, giới thiệu tên đề tài, người hướng dẫn</p>
				<p class="help-text">+ Detail: Chi tiết đề tài, quy trình vận hành</p>
				<p class="help-text">+ Control: Phần điều khiển hệ thống và giám sát</p>
				<p class="help-text">+ Help: Giới thiệu + Hướng dẫn sử dụng</p>
			</div>

			<div class="help-content-2">
				<img src="./image/so-do-ket-noi-plc-voi-bien-tan.jpg" />
			</div>
			
		</div>

		<div class="team">
			<div class="container">
				<h1 style="font-weight: bold; text-align: center;color: #333; letter-spacing: 2px;">Member</h1>
				<div class="row">
					<div class="col-md-4 profile text-center">
						<div class="img-box">
						<img src="image/image1.jpg" class="img-responsive" style="width: 225px;height: 215px;">
							<ul>
								<a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
								<a href="#"><li><i class="fa fa-envelope"></i></li></a>
							</ul>
						</div>
						<h4>Nguyễn Văn Ngọc</h4>
						<h5>MSSV: 15111111</h5>
						<p>zxczxczxczxczxczxczxczxczxczxc</p>
					</div>
					<div class="col-md-4 profile text-center">
						<div class="img-box">
						<img src="image/image1.jpg" class="img-responsive" style="width: 225px;height: 215px;">
							<ul>
								<a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
								<a href="#"><li><i class="fa fa-envelope"></i></li></a>
							</ul>
						</div>
						<h4>Nguyễn Văn Ngọc</h4>
						<h5>MSSV: 15111111</h5>
						<p>zxczxczxczxczxczxczxczxczxczxc</p>
					</div>
					<div class="col-md-4 profile text-center">
						<div class="img-box">
						<img src="image/image1.jpg" class="img-responsive" style="width: 225px;height: 215px;">
							<ul>
								<a href="#"><li><i class="fa fa-facebook-square"></i></li></a>
								<a href="#"><li><i class="fa fa-envelope"></i></li></a>
							</ul>
						</div>
						<h4>Nguyễn Văn Ngọc</h4>
						<h5>MSSV: 15111111</h5>
						<p>zxczxczxczxczxczxczxczxczxczxc</p>
					</div>
				</div>
			</div>
		</div>
		
	
		<div id="footer">
			<table class="footer-table">
				<tr>
					<td width="300" style="color: white;"> NGUYỄN VĂN MINH </td>
					<td style="color: white;"> THIỀU QUANG NGHĨA </td>	 
				</tr>
				
				<tr>
					<td width="300" style="color: white;">Số điện thoại: 0908-120-803</td>
					<td style="color: white;">Số điện thoại: 0368-978-037</td>
				</tr>
				<tr>
					<td width="300" style="color: white;">Email: ngxvanminh@gmail.com</td>
					<td style="color: white;">Email: quangnghia567@gmail.com</td style="color: white;">
				</tr>
			</table>
		</div>
	</div>